/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
gelati-card + gelati-card {
  margin-top: 15px;
}

gelati-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form gelati-button {
  float: right;
  margin-top: 15px;
}
